apiVersion: apps/v1
kind: Deployment
metadata:
  name: api
  namespace: taskflow
  labels:
    app: taskflow
    component: api
spec:
  replicas: 2
  selector:
    matchLabels:
      component: api
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: taskflow
        component: api
    spec:
      containers:
        - name: api
          image: yhcarlos14/taskflow-api:v1.0.0
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: taskflow-config
          resources:
            requests:
              memory: "128Mi"
              cpu: "250m"
            limits:
              memory: "256Mi"
              cpu: "500m"
          livenessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
            initialDelaySeconds: 10
            periodSeconds: 10