apiVersion: v1
kind: Service
metadata:
  name: api-service
  namespace: taskflow
  labels:
    app: taskflow
    component: api
spec:
  selector:
    component: api
  ports:
    - port: 8080
      targetPort: 8080
      protocol: TCP
  type: NodePort