apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: taskflow
  labels:
    app: taskflow
    component: frontend
spec:
  selector:
    component: frontend
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  type: NodePort